<p>
  home works!
</p>
<test-comp></test-comp>
<br>
{{age}}
<br>
{{name}}
<br>
{{ getName() }}
<br>
<button class="btn btn-primary" [disabled]="!allowClick" (click)="onButtonClicked()">Click me</button>
<br>
{{ allowClick }}
<br>
<h1 [innerText]="allowClick"></h1>
<br>
<h3 *ngIf="buttonClicked; else secondP">{{ btnClick }}</h3>
<ng-template #secondP>
  <p>Button is not clicked</p>
</ng-template>
<br>
<input type="text" (input)="onInputChange($event)">
<br>
{{ lastName }}
<br>
<input type="text" [(ngModel)]="lastName">
{{ lastName }}
<br>
<app-test1></app-test1>
<app-test1></app-test1>
<app-test1></app-test1>
<app-test1></app-test1>
<app-test1></app-test1>
